.bg-img { 
    background-image: url(assets/metro-color.png);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;}

.homepage-header{
    font-size: 60pt;
    font-family: 'Carter One', cursive;
    font-weight: 900;
    color: black;
}

.logo {
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    font-family: 'Carter One', cursive;

}

.homepage-description{
    font-size: 15pt;
    font-weight: 900;
    color: gray;
    font-family: 'Raleway', sans-serif;
    background-position: center;
   
}

#map {
    height: 100%;
  }

  #map-div {
  height: 100%;
  margin: 0;
  padding: 0;
  position: bottom;
}

  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }

  #infowindow-content .title {
    font-weight: bold;
  }

  #infowindow-content {
    display: none;
  }

  #map #infowindow-content {
    display: inline;
  }

  .searchbar-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
  }

  #searchbar-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }

  .searchbar-controls {
    display: inline-block;
    padding: 5px 11px;
  }

  .searchbar-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }

  #searchbar-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }

  #searchbar-input:focus {
    border-color: #4d90fe;
  }

  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  #target {
    width: 345px;
  }

  /* input {
    display: none;
  } */