.bg-img { 
    background-image: url(assets/metro-color.png);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;}

.homepage-header{
    font-size: 60pt;
    font-family: 'Carter One', cursive;
    font-weight: 900;
    color: black;
}

.logo {
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    font-family: 'Carter One', cursive;

}

.homepage-description{
    font-size: 15pt;
    font-weight: 900;
    color: gray;
    font-family: 'Raleway', sans-serif;
    background-position: center;
   
}